@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply bg-background text-almost-white;
  }
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

:root {
  --layout-padding-x: 9vw;
  --dark-turquoise: #02c7e1;
  --dark-turquoise-hover: #02e1d6;
  --player-button-hover-blue: #22b1ff;
  --almost-black: #111619;
  --almost-black-values: 17, 22, 25;
  --darker-grey: #252c30;
  --darker-grey-transparent: #252c3099;
  --dark-grey: #414649;
  --dark-grey-transparent: rgba(65, 70, 73, 0.8);
  --dark-grey-half-transparent: rgba(65, 70, 73, 0.5);
  --mid-grey: #5b6267;
  --light-grey: #9da2a5;
  --lighter-grey: #b7bbbd;
  --almost-white: #ecf0f1;
  --almost-white-values: 236, 240, 241;
  --nine: #00beff;
  --gem: #ff1c4a;
  --go: #f68912;
  --life: #1fbf2b;
  --rush: #fc5432;
  --success-green: #1db980;
  --warning-orange: #ff7b47;
  --error-red: #f2453f;
  --hyperlink-visited: var(--nine);
  --hyperlink-visited-hover: #66d8ff;
  --gradient-turquoise-top: #02dae6;
  --gradient-turquoise-bottom: #00beff;
  --gradient-9now-top: #02dae6;
  --gradient-9now-bottom: #0084cc;
  --gradient-nine-top: #2321b7;
  --gradient-nine-bottom: #54dbfe;
  --gradient-gem-top: #ff1d4b;
  --gradient-gem-bottom: #c40b87;
  --gradient-go-top: #fff200;
  --gradient-go-bottom: #ed1c24;
  --gradient-life-top: #1fbf2b;
  --gradient-life-bottom: #b2ec2e;
  --gradient-rush-top: #f28723;
  --gradient-rush-bottom: #fc5432;
  --ways-to-watch-background-color: #101e26;
  --gradient-black-bezier: #111618 0%, rgba(17, 22, 24, 0.938) 9.7%,
    rgba(17, 22, 24, 0.904) 17.7%, rgba(17, 22, 24, 0.851) 24.3%,
    rgba(17, 22, 24, 0.783) 29.9%, rgba(17, 22, 24, 0.704) 34.6%,
    rgba(17, 22, 24, 0.616) 38.8%, rgba(17, 22, 24, 0.522) 42.8%,
    rgba(17, 22, 24, 0.428) 46.8%, rgba(17, 22, 24, 0.334) 51.1%,
    rgba(17, 22, 24, 0.246) 56.1%, rgba(17, 22, 24, 0.167) 61.9%,
    rgba(17, 22, 24, 0.099) 69%, rgba(17, 22, 24, 0.046) 77.5%,
    rgba(17, 22, 24, 0.012) 87.7%, rgba(17, 22, 24, 0) 100%;
}
